[submodule "s3test"]
	path = s3test
	url = https://gitlab.cern.ch/okeeble/s3test.git
[submodule "cloud-benchmark-suite"]
	path = cloud-benchmark-suite
	url = https://gitlab.cern.ch/cloud-infrastructure/cloud-benchmark-suite.git
[submodule "storage-client"]
	path = storage-client
	url = git@github.com:uc-cdis/storage-client.git
